<div>
  <div class="rounded-corners">
    <mat-form-field class="full-width rounded-corners">
      <mat-label>Kelime Arama/Search Term</mat-label>
      <span matPrefix><mat-icon>search</mat-icon></span>
      <input matInput type="search" [(ngModel)]="searchTerm">
      <span matHint></span>
    </mat-form-field>
  </div>
</div>

<div>
  <mat-list *ngIf="(terms$ | async) as terms">
    <mat-list-item *ngFor="let term of terms; let i = index">

      <span matListItemLine>
        <span class="search-initial" *ngIf="i == 0
        || compareNormalized(
          terms[i-1].translations.get('Türkçe')?.match(firstLetterRegexp)?.at(0),
          term.translations.get('Türkçe')?.match(firstLetterRegexp)?.at(0),
          'tr') !== 0">
          {{term.translations.get('Türkçe')?.match(firstLetterRegexp)}}
        </span>
        <span class="search-result">{{term.translations.get('Türkçe')}}</span>
      </span>
      <span matListItemLine class="search-result-detail"><span class="spacer"></span>{{term.english}}</span>
    </mat-list-item>
  </mat-list>
</div>
