<ng-container *ngIf="selectedSource$ | async as selectedSource">
  <ng-container *ngIf="selectedTarget$ | async as selectedTarget">
    <div class="sticky-search">
      <div class="rounded-corners">
        <mat-form-field class="full-width rounded-corners">
          <mat-label>{{locale.labels.termsPage.searchPlaceholder}} {{locale.alt ? '/ ' + locale.alt.labels.termsPage.searchPlaceholder : ''}}</mat-label>
          <span matPrefix><mat-icon>search</mat-icon></span>
          <input matInput type="search" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()">
          <span matHint></span>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="loading">
      <mat-card>
        <mat-card-header>
          <mat-card-title data-test="loader-title">{{locale.labels.termsPage.dataLoadingMessage}} {{locale.alt ? '/ ' + locale.alt.labels.termsPage.dataLoadingMessage : ''}}...</mat-card-title>
          <mat-card-subtitle>
            <p>{{locale.labels.termsPage.dataLoadingMessageDetail}}</p>
            <p>{{locale.alt ? locale.alt.labels.termsPage.dataLoadingMessageDetail : ''}}</p>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div *ngIf="!loading && showNoResultMessage">
      <mat-card>
        <mat-card-header>
          <mat-card-title data-test="no-result">{{locale.labels.termsPage.noResultMessage}} {{locale.alt ? '/ ' + locale.alt.labels.termsPage.noResultMessage : ''}}</mat-card-title>
          <mat-card-subtitle>
            <p></p>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div>
      <mat-list *ngIf="(terms$ | async) as terms">
        <mat-list-item class="line-item" *ngFor="let term of terms; let i = index">
          <div tabindex="1" class="focusable-container" [class.focused]="i === focusIndex" (click)="onClick(i)">
            <span matListItemLine>
              <span class="search-initial" *ngIf="!!term.initial">
                {{term.initial}}
              </span>
              <span class="search-result">
                <span innerHTML="{{ searchTerm ? (term.translations[selectedSource.isoCode] | highlight : searchTerm.toLocaleLowerCase(selectedSource.isoCode)) : (term.translations[selectedSource.isoCode])}}"></span>
              </span>
            </span>

            <span matListItemLine class="search-result-detail">
              <span class="spacer"></span>
              <span innerHTML="{{ searchTerm ? (term.translations[selectedTarget.isoCode] | highlight : searchTerm.toLocaleLowerCase(selectedTarget.isoCode)) : term.translations[selectedTarget.isoCode]}}"></span>
            </span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </ng-container>
</ng-container>
