<ng-container *ngIf="selectedSource$ | async as selectedSource">
  <ng-container *ngIf="selectedTarget$ | async as selectedTarget">
    <div class="sticky-search">
      <div class="rounded-corners">
        <mat-form-field class="full-width rounded-corners">
          <mat-label>Kelime Arama/Search Term</mat-label>
          <span matPrefix><mat-icon>search</mat-icon></span>
          <input matInput type="search" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()"
            (focus)="onFocus()"
            (blur)="onBlur()">
          <span matHint></span>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="(terms$ | async)?.length == 0">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Yükleniyor / Loading ...</mat-card-title>
          <mat-card-subtitle>
            <p>Terim listesi yükleninceye dek lüfen bekleyiniz.</p>
            <p>Please wait until the term list is loaded.</p>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div>
      <mat-list *ngIf="(terms$ | async) as terms">
        <mat-list-item class="line-item" *ngFor="let term of terms; let i = index">
          <div tabindex="1" class="focusable-container">
            <span matListItemLine>
              <span class="search-initial" *ngIf="!!term.initial">
                {{term.initial}}
              </span>
              <span class="search-result">
                <span innerHTML="{{term.translations[selectedSource.isoCode] | highlight : searchTerm.toLocaleLowerCase(selectedSource.isoCode)}}"></span>
              </span>
            </span>
  
            <span matListItemLine class="search-result-detail">
              <span class="spacer"></span>
              <span innerHTML="{{term.translations[selectedTarget.isoCode] | highlight : searchTerm.toLocaleLowerCase(selectedTarget.isoCode)}}"></span>
            </span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </ng-container>
</ng-container>
